/*-------------------General--------------------------*/

/*-------------------Header---------------------------*/

header{
  height: 3.5em;
  width: 100%;
  margin: 0 auto;
  background-color: black;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  box-shadow: 1em 1em 1em rgba(0,0,0,0.2);

}

#name{
  font-style: italic;
  margin: 0.25em 0 0.25em 2%;
  color: #4687F4;
  width: 50%;
  display: inline-block;
  float: left;
  font-size: 2em;

  font-weight: bold;

}
.socials{
  width: 1.5em;
  height: 1.5em;
  margin: 0.75em 1em 0.75em 0em;
  float: right;
  display: inline-block;
  position: relative;
    z-index: 2;
}
.soicals-img{
  width: 2em;
  height: 2em;

}
#twitter{

}
#pinterest{

}
#instagram{

}
#codepen{

}
#github{

}
/*-------------------Aside----------------------------*/


#nav-area{
  height: 100%;
  width: 4em;
  display: inline-block;
  margin-right: 0px;
  float: left;
  position: fixed;
  top: 3.5em;
  left: 0;
  z-index: 2;
  text-align: left;
  background-color: black;


}
#nav-holder{
  width: 100%;
  position: relative;

}
#picture{
  height: 8em;
  width: 80%;
  border-radius: 50%;
  margin: 0 auto;
  background-color: white;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#about-me{
  background-color: red;
}
#projects{
  background-color: green;
}
#skills{
  background-color: purple;
}
#blog{
  background-color: blue;
}
#contact{
  background-color: orange;
}
#whats-new{
  background-color: yellow;
}
.nav-link{
  width: 4em;
  height: 4em;
  display: block;
  position: relative;
  padding-top: 1em;
  color: black;
  text-decoration: none;
  z-index: 5;
  background-color: black;
  transition: all .4s ease;
  color: rgba(0, 0, 0, 0);
  overflow:hidden;
}

.nav-link span{
  display: hidden;
  color: black;
  position: absolute;
  top: 2em;
  z-index: 10;



}


.nav-link:hover{
  transform:  translate(1em);
  transition: all .4s ease;
  width: 8em;
  color: white;
}

.nav-link:hover span{
  display: inline-block;
  color: white;
}
.link-img{
  width: 2em;
  height: 2em;
  margin: 0.25em 1em 1em 1em;
  display: inline-block;
}


/*-------------------Main-containt--------------------*/

#main-containt{
  height: 40em;
  width: 100%;
  position: absolute;
  left: 4em;
  top: 3.5em;
  display: inline-block;
  margin-left: 0px;
  margin-right: 0px;
  z-index: 1;

}

.containt-container{
  position: relative;
  top: 0px;
}

.containt-header{
  height: 3em;
  text-align: left;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #4687F4;

}
.containt-header h1{
  font-size: 2em;
  padding: 0.75em 0 0.75em 0;
  margin: 0;
  margin-left: 2em;


}


.containt-body{
  height: 35.2em;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
  z-index: 1;
  background-color: #F0F0F0;
  /*background-image: url("./Images/technology-background.jpg");*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about-me-div{
    display: inline-block;
}

#about-me-picture{
  width: 15em;
  height: 15em;
  border-radius: 50%;
  position: absolute;
  background-color: white;
  z-index: 3;
  top: 2em;
  left: 2em;
}
.profile-pic{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
#about-me-text{
  width: 55%;
  height: 20em;
  position: relative;
  z-index: 2;
  top: 11em;
  left: 11em;
  background-color: white;
  box-shadow: 0.5em 0.5em 2em rgba(0, 0, 0, 0.2);
}
#about-me-text h3{
  margin-bottom: 1em;
  padding-left: 7em;
  padding-top: 0.5em;
  background-color: orange;
}
#about-me-text p{
  text-indent: 3em;
  padding: 0.5em;
}

.skill-bar{
  width: 10%;
  height: 100%;
  position: relative;
  z-index: 2;
  background-color: white;
  box-shadow: 0 1em 1em rgba(0,0,0,0.2);
  margin-left: 10%;
  left: 0;
  display: inline-block;
}
