/*-------------------General--------------------------*/
div{

}
#containt-holder{

  width: 91%;
  margin: 0 auto;
  position: relative;
  left: 0.35%;
}
/*-------------------Header---------------------------*/

header{
  height: 5em;
  width: 90%;
  border: solid purple;
  margin: 0 auto;
}
/*-------------------Aside----------------------------*/

#nav-area{
  height: 52em;
  width: 10%;
  border: solid black 0.2em;
  display: inline-block;
  margin-right: 0px;
  float: left;
  text-align: center;
  background-color: #0E4C92;



}
#picture{
  height: 8em;
  width: 10em;
  border-radius: 50%;
  border: solid black;
  margin: 0 auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.nav-link{
  border: solid black 0.1em;
  width: 100%;
  height: 2em;
  display: block;
  position: relative;
  padding-top: 1em;
}

.nav-link:hover{
  left: 30%;
}


/*-------------------Main-containt--------------------*/

#main-containt{
  height: 40em;
  width: 88.55%;

  display: inline-block;
  margin-left: 0px;
  margin-right: 0px;
}
.containt-header{
  height: 4em;
  text-align: center;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  border: solid black 0.2em;
}
.containt-body{
  height: 35.2em;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  border: solid black 0.2em;
}
